{% extends "base.html" %}

{% block content %}
    <div class="section">
        <h1>
            Alla användare
        </h1>
        <p><a href="{{ url_for("user.create") }}">Skapa ny användare</a></p>

        <table>
            <thead>
                <tr>
                    <th>Användarnamn</th>
                    <th>Namn</th>
                    <th>Roll</th>
                    <th>Senaste login</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{% if user.role %}{{ user.role.name }}{% endif %}</td>
                    <td>{{ moment(user.last_seen).format('LLL') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
