{% extends "base.html" %}

{% block content %}
    <div class="section">
        <p>
            Alla användare
        </p>

        <table>
            <thead>
                <tr>
                    <th>Ark</th>
                    <th>Skapat av</th>
                </tr>
            </thead>
            <tbody>
                {% for sheet in sheets %}
                <tr>
                    <td>{{ sheet.id }}</td>
                    <td>{{ sheet.owner.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
